<h1>Person Info</h1>
<ul>
  <li>Name: <%= @name %></li>
  <li>Age: <%= @age %></li>
  <li>Lang: <%= @language %></li>
  <li>Enter name: <%= @name2 %></li>
  <li>Enter age: <%= @age2 %></li>
  <li>his: <%= @his %></li>
  <li>her: <%= @her%></li>
  <li>Bio: <%= @bio %></li>
  <li>Interests: <%= @interests %></li>
  <li>Password: <%= @password %></li>
</ul>

<p>
 <a href="/">&laquo; Back to home</a>
</p>
